@charset "UTF-8";

/* 追加 */
*{
  box-sizing: border-box;
}

body{
  text-align: center;
  font-family: "Noto Sans JP";
}

header{
  background-color: white;
  height: 50px;
  /* position: fixed; */
}

.header-logo img{
  float:left;
  width: 200px;
  length: 200px;
  padding-left: 10px;
  padding-top: 20px;
}

/* 背景画像調整 */
.top-wrapper {
  background-image: url("images/fronthaikei.jpg");
  background-size: cover;
  width: 100%;
  /* opacity: 0.5; */
}

.fuki {
  position: absolute;
  top: 35%;
  right: 45%;
  background-color:white;
}

.top-wrapper img{
  width: 1200px;
  length: 1200px;
  margin: 0 auto;
} 

.contentart img{
  width: 400px;
  length: 400px;
}

.content span{
  border-bottom: 3px dashed white;
}

footer img{
  width: 50px;
  length: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.footer {
  background-color:white;
  height: 120px;
  margin: 20px;
}

h1 {
  font-size:40px;
  color: black;
  background-color:whitesmoke;
}

h2 {
  /* font-size:50px; */
  background-color:white;
  /* border-bottom: 3px dashed #3f5b96; */
}

p {
  font-size:30px;
}


@media ( max-width:479px ){
.top-wrapper {
  background-image: url("images/fronthaikei.jpg");
  background-size: cover;
  /* opacity: 0.5; */
}

.fuki {
  /* position: absolute; */
  top: 22%;
  right: 36%;
  background-color:white;
}

.top-wrapper img{
  width: 400px;
  /* length: 1200px; */
  margin: 0 auto;
} 

.contentart img{
  width: 380px;
  length: 400px;
}

h1 {
  font-weight:bold;
  font-size:30px;
  color: black;
  background-color:whitesmoke;
}

h2 {
  font-size:20px;
  background-color:white;
  /* border-bottom: 3px dashed #3f5b96; */
}

h3 {
  font-size:14px;
  background-color:#d3e4eb;
  /* border-bottom: 3px dashed #3f5b96; */
}

p {
  font-size:11px;
}
}