<!doctype html>

<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- ビューポートの設定 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='front.css') }}" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">

  <title>Kanako's Room</title>

</head>

<body>
  <header>
    <div class="header-logo">
      <img src="{{ url_for('static', filename='logo.png')}}" alt="">
    </div>

    <!--  <div class="header-list">
      <ul>
        <li><a href="">Project/Work</a></li>
        <li><a href="{{ url_for('static', filename='front.css') }}">Art</a></li>
        <li><a href="{{ url_for('static', filename='front.css') }}">Article</a></li>
      </ul> 
    </div> -->
  </header>

  <!-- top-wrapper修正 -->
  <div class="top-wrapper">
    <h1>自己紹介</h1>
    <div class="box">
      <img src="{{ url_for('static', filename='fukidashi1.png')}}" alt="">
      <p class="fuki">Kanakoです。神奈川県在住。</br>
          作れる力をつけて、
          自分の好きな領域で</br>
          問題解決をしていきたいです。</br>

          [好きな領域]</br>
          メンタルヘルス、教育、子供、動物、海外</p>
    </div>
  </div>

  <div class="contentwork">
    <h1>Project/Work</h1>
      <h2>仕事で悩む人たちに向けて、”お仕事性格診断”を作りました。<br>
        是非診断してみて下さい！
      </h2>
      <h3>・言語 : Python 3、 HTML、 CSS<br>
      ・フレームワーク : Flask・ Django<br>
      ・ OS ： Linux、 Windows<br>
      ・ 開発環境 ： VScode<br>
      ・ DB ： SQLite3<br>
      ・ CI/CD ： GitHub Actions<br>
      ・ ソース管理 ： GitHub</h3>

      <a href="http://kanakong.pythonanywhere.com/">見に行く</a>
  </div>

  <div class="contentart">
    <h1>Art</h1>
      <h2>イラストを書きます。<br>
        写真を元にリアルなイラストを書きます。
      </h2>
      <h3>＜記念日の写真＞</h3>
      <img src="{{url_for('static', filename='kinenbi.jpg')}}" alt="">
  </div>

  <footer>
    <a href="https://github.com/kanakof">
      <img src="{{url_for('static', filename='github-mark.png')}}" alt="" width="50" height="50">
    </a>
    <a href="https://www.linkedin.com/in/kanako-fukuda-b96867153/">
      <img src="{{url_for('static', filename='Inlogo.png')}}" alt="" width="50" height="50">
    </a>
  </footer>

</body>

</html>

