<!doctype html>

<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='front.css') }}" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">

  <title>My Portfolio</title>

</head>

<body>
  <div class="header">
    <div class="header-logo">
      <img src="{{ url_for('static', filename='logo.png')}}" alt="">
    </div>


  </div>
    <div class="main">
        <h1>自己紹介</h1>
        <div class="flex1">
            <div class="box">
                <img src="{{ url_for('static', filename='fukidashi2.png')}}" alt="">
                <p class="fuki">Kanakoです。神奈川県在住。</br>
                    作れるようになって、
                    自分の好きな領域で</br>
                    問題解決をしていきたいです。</br>

                    [好きな領域]</br>
                    メンタルヘルス、ヘルスケア、教育、子供、</br>
                    海外、言語、環境問題、Sustainability</p>
            </div>
        </div>
        <div class="flex2">
            <p class="portrait">
                <img src="{{ url_for('static', filename='my_portrait.jpg')}}" alt="">
            </p>
        </div>
    <div class="content"></div>
  </div>


  <!-- <button type="submit">これで登録する</button> -->

  </form>
  </div>

  <div>{{ result }}</div>
  <div class="footer">
    <div class="footer-logo"></div>
    <div class="footer-list"></div>
  </div>

</body>

</html>

