<!doctype html>

<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='front.css') }}" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">

  <title>Kanako's Room</title>

</head>

<body>
  <header>
    <div class="header-logo">
      <img src="{{ url_for('static', filename='logo.png')}}" alt="">
    </div>

    <div class="header-list">
      {% comment %} <ul>
        <li><a href="">Project/Work</a></li>
        <li><a href="{{ url_for('static', filename='front.css') }}">Art</a></li>
        <li><a href="{{ url_for('static', filename='front.css') }}">Article</a></li>
      </ul> {% endcomment %}
    </div>
  </header>

  <div class="top-wrapper">
      <h1>自己紹介</h1>
      <div class="flex1">
          <div class="box">
              <img src="{{ url_for('static', filename='fukidashi2.png')}}" alt="">
              <p class="fuki">Kanakoです。神奈川県在住。</br>
                  作れるようになって、
                  自分の好きな領域で</br>
                  問題解決をしていきたいです。</br>

                  [好きな領域]</br>
                  メンタルヘルス、ヘルスケア、教育、子供、</br>
                  海外、言語、環境問題、Sustainability</p>
          </div>
      </div>
      <div class="flex2">
          <p class="portrait">
              <img src="{{ url_for('static', filename='my_portrait.jpg')}}" alt="">
          </p>
      </div>
  </div>

  <div class="contentwork">
    <h1>Project/Work</h1>
      <h2>”お仕事性格診断”を作りました。<br>
        Python flask ,HTML ,CSSを使いました。<br>
        是非診断してみて下さい！
      </h2>
      <a href="http://kanakong.pythonanywhere.com/">見に行く</a>
  </div>

  <div class="contentart">
    <h1>Art</h1>
      <h2>イラストを書きます。<br>
        写真を元にリアルなイラストを書きます。
      </h2>
      <p>＜記念日の写真＞</p>
      <img src="{{url_for('static', filename='kinenbi.jpg')}}" alt="">
  </div>

  <footer>
    <a href="https://github.com/kanakof">
      <img src="{{url_for('static', filename='github-mark.png')}}" alt="" width="50" height="50">
    </a>
    <a href="https://www.linkedin.com/in/kanako-fukuda-b96867153/">
      <img src="{{url_for('static', filename='Inlogo.png')}}" alt="" width="50" height="50">
    </a>
  </footer>

</div>


  <!-- <button type="submit">これで登録する</button> -->

  </form>
  </div>
<!-- 
  <div>{{ result }}</div>
  <div class="footer">
    <div class="footer-logo"></div>
    <div class="footer-list"></div>
  </div> -->

</body>

</html>

