<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta property='og:type' content='website'>
  <meta property='og:title' content='WebデザイナーKanako Fukuda ポートフォリオ'>
  <meta property='og:url' content='URLが入る'>
  <meta property='og:description' content='Kanako Fukudaのポートフォリオサイトです。'>
  <meta property="og:image" content="img/ogp.png">
  <meta name="description" content="Kanako Fukudaのポートフォリオサイトです" />
  <title>Kanako Fukuda ポートフォリオ</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='ress.css') }}" />
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel=”canonical” href=”URLが入る” />
</head>

<body>
  <div class="wrapper">

    <!-- header -->
    <header class="header ">
      <div class="container">
        <h1 class="header-logo">
          <a href=".">Kanako Fukuda</a>
        </h1>
        <nav class="gnav">
          <ul class="gnav-list">
            <li class="gnav-item"><a href=".#works">WORKS</a></li>
            <li class="gnav-item"><a href="./#skill">SKILL</a></li>
            <li class="gnav-item"><a href="./#about">ABOUT</a></li>
            <li class="gnav-item"><a href="./#contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- /header -->

    <main class="content">

      <article class="article">
        <div class="article-container">
          <h2 class="article-title">職業性格診断サービス</h2>
          <div class="article-body">
            <p>
              <img src="{{url_for('static', filename='capture.jpg')}}" alt="">
            </p>
            <p>
              今、”何かしらの生きづらさ”を感じている人が、自己理解を深め、お仕事選択の助けになれば・・との思いで作りました。<br>
              これから社会に出るけど、自分のことがわからなくて、なんとなく不安な人、今働いているけど、なんだか辛い・苦しい人、そんな人に届いて欲しいです。
            </p>
            <h3>URL</h3>
            <p><a href="http://kanakong.pythonanywhere.com/" target="_blank" rel="noopener">http://kanakong.pythonanywhere.com/</a></p>
            <h3>担当</h3>
            <p>企画・デザイン・コーディング</p>
            <h3>サービス概要</h3>
            <p>18の質問に答えると、その回答からあなたの性格タイプを返すというサービスです。</p>
            <h3>ターゲットユーザー</h3>
            <p>・新社会人、もしくは大学生<br>
            ・どちらかというと生きづらさを感じてきた人<br>
            ・今の職場環境が苦しい人<br>
            ・自分のことがわからなくて不安な人</p>
            <h3>ユーザーの抱える課題・気持ち</h3>
            <p>”これから就職活動するけど、自分がどんな職種に向いているのかわからない…”<br>
            ”希望の業界・会社に入ったが、配属された職種が合わなくて心を病んでしまった…”<br>
            ”かといって、どんな職種が向いているのか、いまいちわからない…”</p>
            <h3>解決方法</h3>
            <p>自分の普段の習慣や思考の傾向についての問題に5スケールから回答をすれば、その結果を試算して、3つの性格タイプから性格診断をする。</p>
            <p>自分の性格やそこからわかる職種の嗜好性を表示し、こんな職種だったら向いているかも、と思ってもらうきっかけになる。</p>
            <h3>デザインについて</h3>
            <p>
              誰にとってもシンプルでわかりやすいことを意識して設計しました。<br>
              文字色・ヘッダー色は、BlueとGreenで落ち着きを意識しました。
            </p>
                <!-- <h3>コーディングについて</h3>
            <p>
              テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。
            </p> -->
          </div>
          <div class="home-link">
            <a href="./#works">Works一覧へ</a>
          </div>
        </div>
      </article>

      <div class="page-top" id="js-page-top">
        <span class="material-icons-outlined">expand_less</span>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="copyright">&copy;Kanako Fukuda</div>
    </footer>
    <!-- /footer -->

  </div>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type='text/javascript' src="js/script.js"></script>-->
</body>
</html>